/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #4ab6d4;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #6b47b8;
}

button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
  background: #333744;

  background-color: #0d7377;
  background-image: linear-gradient(to right bottom, #1eada1, #0d7377);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 250px;
  border-radius: 20px;
}

.centered-form button {
  width: 100%;
  transform: translateY(-5px);
  transition: all 0.2s;
  box-shadow: 0px 10px 12px #1d1f26;
}

.centered-form button:active {
  transform: translateY(0);
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

/* Chat Page Layout */

.chat {
  display: flex;
}

.chat__sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  background-image: linear-gradient(to bottom right, #1eada1, #0d7377);
  min-width: 225px;
  max-width: 225px;
  overflow-y: scroll;
}

.copyright {
  color: #212121;
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

.copyright a {
  color: #fff;
}

/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
  background-image: linear-gradient(to bottom right, #9bd4dc, #0d7377);
  padding: 15px 18px;
  border-radius: 10px;
  width: fit-content;
  color: #000000;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 8px;
}

.message__meta {
  color: #fff;
  font-size: 14px;
}

.location__text {
  text-decoration: underline;
  color: #ffffff;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #ffffff;
  width: 100%;
  min-width: 100px;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
  border-radius: 10px;
}

.compose button {
  font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  color: #91ddd7;
  padding: 24px;
  text-align: center;
  text-transform: uppercase;
}

.list-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
  text-transform: uppercase;
  color: #212121;
}

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
  text-transform: uppercase;
}

.users__list {
  margin-bottom: 10px;
  width: fit-content;
}

::selection {
  background-color: black;
  color: #91ddd7;
  padding: 3px 8px;
}
